body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-family: "Wittgenstein", serif;
}

p {
    color: red;
    text-align: center;
}

.mainblock {
    background-color: #1010a1;
    width: 300px;
    border-width: 5px;
}