* {
    box-sizing: border-box;
  }

html {
    scroll-behavior: smooth;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
}

@font-face {
    font-family: Wittgenstein;
    src: url("assets/fonts/Wittgenstein-Italic-VariableFont_wght.ttf");
  }

p {
    color: red;
    text-align: center;
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid rgb(14, 47, 167);
}

.footer {
    border: 1px solid rgb(50, 197, 21);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-family: "Wittgenstein", serif;
    color: blueviolet;
    font-size: 12px;
    text-decoration: none;
  }