@font-face {
    font-family: Oswald;
    src: url("assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
  }

* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

header {
    border: 1px solid red;
}

main {
    border: 1px solid red;
}

footer {
    border: 1px solid red;
}


p {
    color: red
}